/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');


/* Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/ */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* Colors */

:root {
  --primary-color: #fff;
  --secondary-color: #acacac;
  --tertiary-color: #5d5d5d;
  --accent-color: #95FE3A;
  --support-color: #2b2b2b;
  --background-color: #050505;
  --text-color: #E8E8E8
}

::selection {
  background-color: #6110BD; /* Background color when text is selected */
}

/*
**************************
Isa's CSS 
**************************
*/

h1, h2, h3, h4, h5, p, a {
  color: var(--primary-color);
}

body{
  background-color: var(--background-color);
}

h1{
  font-family: "Alice", serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 100%;
}

h1.centered{
  text-align: center;
  width: 984px;
}

h2{
  font-family: "Alice", serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.2em;
}

h3{
  font-size: 1rem;
  font-weight: 500;
}

p {
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
}

p.centered{
  text-align: center;
  padding: 0 14%;
}

a {
  text-decoration: none;
}

p a {
  color: var(--accent-color);
  position: relative;
}

p a::after {
  content: '';
  position: absolute;
  left: 50%; /* Start from the center */
  transform: translateX(-50%);
  height: 1px; /* thickness of the underline */
  width: 0;
  bottom: -4px; /* Adjust this to move the underline closer or further from the text */
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

p a:hover::after {
  width: calc(100%);
}

.highlight {
  color: var(--accent-color);
}

/***** Header ******/

.header, .hero, .gallery {
  position: relative; 
  z-index: 2;
}

/***** Transitions ******/

